* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
  font-size: 22px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

.center {
  margin: auto;
}

.double {
  line-height: 18px;
  min-height: 48px;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  /* margin-top: 10px; */
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.block {
  width: 100%;
  border: 1px solid white;
  padding: 10px 10px 0;
  min-width: 340px;
}

.block .column-9 {
  flex: 0 0 11.11%;
}

.block .column-9 > div {
  border-bottom: 1px solid rgb(255, 255, 255, 0.55);
}

.block h1,
.block h2,
.block h3,
.block h4,
.block h5,
.block h6 {
  margin: 0 0 10px;
}

.block th {
  text-align: left;
}

#weather-alerts.column > div,
.column > div,
.column > img {
  margin-top: 10px;
}

#weather-alerts.column > div:first-child,
.column > div:first-child,
.column > img:first-child {
  margin-top: 0;
}

table td,
table td * {
  vertical-align: middle;
}

.right {
  float: right;
}

.message {
  padding: 0 10px;
}

#weather-current-flex .row {
  padding: 0;
}

/* FLEX */
#weather-current-flex .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 35px;
}

#weather-current-flex .row > div {
  min-width: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#weather-current-flex span {
  margin-right: 5px;
  min-width: 33px;
  display: inline-block;
  text-align: center;
}

#weather-current-flex .row.center {
  justify-content: center;
}

#weather-current-flex .main-info > div {
  min-width: auto;
}

#weather-current-flex .main-info .trend i {
  font-size: 115px;
}

#weather-current-flex .main-info .temp i {
  font-size: 105px;
}

#weather-current-flex .main-info .wind {
  height: 150px;
}

#weather-daily-forecast,
#weather-hourly-forecast {
  display: flex;
  padding: 0;
  text-align: center;
}

#weather-daily-forecast .column-9,
#weather-hourly-forecast .column-9 {
  border-left: 1px solid white;
}

#weather-daily-forecast .column-9:first-child,
#weather-hourly-forecast .column-9:first-child {
  border-left: none;
}

@keyframes visibility {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#weather-alerts {
  font-size: 22px;
  position: absolute;
  top: 0;
  margin-top: 0;
  width: 100%;
  background: black;
  opacity: 0;
  animation: visibility 15s infinite;
}

#weather-alerts h1 {
  font-size: 22px;
  margin: 0;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 1399px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
  body {
    font-size: 42px;
  }
  small {
    font-size: 25px;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
  #weather-current-flex .row {
    min-height: 53px;
  }
  #weather-current-flex .row > div {
    min-width: 165px;
  }
  #weather-current-flex .main-info > div {
    min-width: auto;
  }
  #weather-current-flex span {
    min-width: 50px;
  }
  #weather-current-flex .row.current-time {
    font-size: 33px;
    min-height: 33px;
  }
  #weather-current-flex .row.current-time > div {
    min-width: 125px;
  }
  .percent-max {
    /* min-height: 49px; */
    font-size: 38px;
    line-height: 44px;
  }
}
